.button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.7rem 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.25s, color 0.25s;
}

.button--edit {
  background-color: rgba(160, 83, 236, 0.2);
  color: var(--color-edit);
}

.button--remove {
  background-color: rgba(160, 83, 236, 0.2);
  color: var(--color-remove);
}

.button--edit:hover,
.button--remove:hover {
  color: var(--color-white);
}

.button--edit:hover {
  background-color: var(--color-edit);
}

.button--remove:hover {
  background-color: var(--color-remove);
}
