.root {
  width: 100%;
  max-width: 80rem;
  padding: 5rem 6rem;
  background-color: var(--color-gray-1);
}

.grid {
  display: grid;
  grid-template-columns: minmax(7rem, max-content) 1fr minmax(
      13rem,
      max-content
    );
  column-gap: 1rem;
  align-items: center;
}
